#survey {
	background-color: #2196f3;
	width: 362px;
    margin-left: 24px;
}

#home {
	background-color: #2196f3;
	width: 550px;
}

#submit {
	background-color: #2196f3;
}

#friendName {
	text-align: center;
}

#intro {
	/*border: solid black 1px;*/
    margin-top: 50px;
}

#h1FF {
	margin-left: 31px;
	margin-bottom: 0px;
}

#testimonials {
	border: solid black 1px;
	padding-right: 36px;
    margin-left: 12px;
}

h6 {
	text-align: center;
	font-size: 18px;
}

p {
	text-align: center;
	margin-left: 30px;
}

.input-field input[type=text]:focus + label {
    color: #2196f3;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid #2196f3;
    box-shadow: 0 1px 0 0 #2196f3;
}

.legos {
	height: 100px;
    width: 100px;
    border-radius: 100px;
    margin-left: 91px;
    border: solid black 1px;
    padding: 14px;
    margin-top: 20px;
}
   

